.wizard > div > article
{
    display: none;
}

.wizard > nav > span:first-child
{
    visibility:hidden;
}

.wizard > div > article:first-child
{
    display: block;
}

.wizard > nav
{
    text-align: center;
}

    .wizard > nav > span
    {
        margin: .5em .5em 0;
        cursor: pointer;
    }
