.tabList > li > label {
    height: 2em;
    line-height: 2em;
    padding: 0 1em;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    cursor: pointer;
}

.tabList > li {
    display: inline-block;
    *display: inline;
}
