body 
{
     font-size:12px;
}
.wb100{
  width:100em;
}
.content{
line-height:10em;
}


/*------去除不同浏览器中workPart的间隔-----------------------*/
.wp_container
{
    font-size:0px;
    
}

.wp_container section
{
    font-size:12px;
    letter-spacing:normal;
    word-spacing:normal;
    vertical-align:middle;   
    display:inline-block;
     *display:inline;
     *zoom:1;
    
    
    
}



/*------设置workPart的间隔------------------------*/
.wp_gap
{
  margin:0 0.5em;

}


@media screen and(-webkit-min-device-pixel-ratio:0)
{
    .wp_container
    {
        letter-spacing:-5px;
        
    }
    
}

.wp_container span
{
    font-size:12px;
    letter-spacing:normal;
    word-spacing:normal;
    vertical-align:top;

    display:inline-block;
     *display:inline;
     *zoom:1;
    
 }

.w100{
 width:100em;
 margin:0 auto;
}

.w5{
 width:5em;
}

.w10{
 width:10em;
}

.w20{
 width:20em;
}

.w30{
 width:30em;
}

.w40{
 width:40em;
}

.w50{
 width:50em;
}

.w60{
 width:60em;
}

.w68{
 width:68em;
}

.w69{
 width:69em;
}


.w70{
 width:70em;
}

.w80{
 width:80em;
}

.w90{
 width:90em;
}

.w99{
 width:99em;
}


.h10{

  height:10em;
	
}









 

