body, section, input, select, button, label, article, span, table, img, .wgt > div {
    font: 14px/1.5 tahoma,​arial,helvetica,sans-seri;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}
