.Tip{
  z-index:10;
  position:relative;	
}

.Tip input[type="text"]{
  border:1px solid black;
  background: #F5F5F5;
}

.Tip label{
  color:gray;
  position:absolute;
  top:1px;
  left:40px;
  z-index:12;
  opacity:5;
}
