.Tip{
  width:100%;
  z-index:10;	
}

input[type="text"]{
  width:10em;
  border:1px solid black;
  background: #F5F5F5;
}

input[type="submit"]{
  margin-left:0.5em;
  width:5em;
  border:1px solid black;
}

label{
  color:blue;
  position:absolute;
  top:2px;
  left:40px;
  z-index:12;
  opacity:5;
}
