.Tip{
  width:100%;
  float:left;
  z-index:10;	
}
.Tip input{
  width:10em;
  float:left;
  border:1px solid black;
}

.Tip label{
  color:red;
  position:absolute;
  top:2px;
  left:40px;
  z-index:12;
  opacity:1;
}
