.searcher button, .searcher input
{
    border: 0 none;
    display: block;
    /*margin: .2em 0;*/
}

.searcher button
{
    /*margin-right: -7.8em;
    width: 7.8em;*/
    width: 8em;
    float: right;
}

.searcher input
{
    margin-right: 8em;
}

.searcher > div
{
    /*padding-right: 7.8em;*/
}
