form label, form span, form select,form input {
    height: 2em;
    line-height: 2em;
}

label > input {
    margin-right: .6em;
    vertical-align: middle;
}

form input {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

    form input.w-1, form input.w-1-2, form input.w-1-3 {
        *width: expression(function(el){el.style.width = (el.clientWidth- parseFloat(el.currentStyle["borderWidth"])*2)+"px"; }(this));
        *height: expression(function(el){el.style.height = (el.clientHeight- parseFloat(el.currentStyle["borderWidth"])*2)+"px";}(this));
    }

form span {
    text-indent: 1em;
}

form  div, .property {
    margin-top: 0.5em;
}
