<!DOCTYPE html>
<html>
<head>
    <title>YunYao</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../src/cssreset/css/cssreset.css" />
    <link rel="stylesheet" href="../src/cssfonts/css/cssfonts.css" />
    <link rel="stylesheet" href="../src/cssbase/css/cssbase.css" />
    <link rel="stylesheet" href="../src/csslayout/css/csslayout.css" />
    <link rel="stylesheet" href="../src/sitelogo/css/sitelogo.css" />
    <link rel="stylesheet" href="../src/list/css/list.css" />
    <link rel="stylesheet" href="../src/list/css/list.theme.css" />
    <link rel="stylesheet" href="../src/searcher/css/searcher.css" />
    <link rel="stylesheet" href="../src/searcher/css/searcher.theme.css" />
    <link rel="stylesheet" href="../src/nav/css/nav.css" />
    <link rel="stylesheet" href="../src/nav/css/nav.theme.css" />
    <script src="../lib/modernizr.min.js"></script>
</head>
<body>
    <header class="w80">
        <div class="wgt">
            <div class="w18">
                <a id="site-logo" href="/">
                    <img src="http://img01.taobaocdn.com/tps/i1/T1Kz0pXzJdXXXIdnjb-146-58.png" title="云遥—物联网数据库平台" /></a>
            </div>
            <div class="w48 wgt-l4-r10">
                <ul id="searcherList" class="tabList w-1">
                    <li data-action="/solution/search" data-tip="请输入方案搜索条件" class="selected">
                        <label for="kwyword">方案</label></li>
                    <li data-action="/node/search" data-tip="请输入测点搜索条件">
                        <label for="kwyword">测点</label></li>
                </ul>
                <div class="searcher wgt-r8">
                    <form id="searcherForm" method="get" action="/solution/search" data-event-adapter="searcherList.selectedChanged=attr(action,args.action)">
                        <input id="kwyword" placeholder="请输入方案搜索条件" type="search" name="keyword" class="w-1"  data-event-adapter="searcherList.selectedChanged=attr(placeholder,args.tip)"/>
                        <button type="submit" class="w8">搜 索</button>
                    </form>
                </div>
            </div>
        </div>
        <nav id="page-nav" class="w-1 t-b-b">
            <span class="selected">首页</span>
            <a href="/solution/">方案</a>
            <a href="/node/">测点</a>
        </nav>
    </header>
    <script src="../lib/yepnope.js"></script>
    <script src="../src/jslang/prototype/object.js"></script>
    <script src="../src/jslang/prototype/function.js"></script>
    <script src="../src/jslang/prototype/enumerable.js"></script>
    <script src="../src/jslang/prototype/array.js"></script>
    <script src="../src/jslang/prototype/class.js"></script>
    <script src="../src/jslang/hashmap/js/hashmap.js"></script>
    <script src="../src/jslang/event/js/event.js"></script>
    <script src="../src/jslang/eventlisteneradapter/js/eventlisteneradapter.js"></script>
    <script src="../src/core/js/core.js" data-config="../src/config.js" data-main="../src/page/js/page.js"></script>
</body>
</html>
