
.tabs {
    line-height:26px;
    height:26px;
}

.tabs li {
    background-color: purple;
    border-right: 1px solid white;
    float:left;
    text-align:center;
}

.tabs label { 
    cursor: pointer;
}


