div.tab{
  width:100%;
}

div.tab  ul {   
   margin:0px;
   padding:0px;
   font-size:0px;
}

div.tab  li{
  width:7em;
  padding:0.2em 0.6em;
  background-color:purple;
  border-right:1px solid white;
  letter-spacing:normal;
  word-spacing:normal;
  vertical-align:top;   
  display:inline-block;
  *display:inline;
  *zoom:1;
}

body,li{
   font-size:12px;
}

a:hover {background-color:#ff3300}