.tab_w{
  width:100%;
  float:left;
}

.tab_w ul {   
   float:left;
   margin:0px;
   padding:0px;
   width:100%
}

.tab_w li{
  width:7em;
  padding:0.2em 0.6em;
  float:left;
  background-color:purple;
  border-right:1px solid white;
}

a:hover {background-color:#ff3300}